<!DOCTYPE html>
<html>
  <head>
    <title>Pinterest Clone</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      var authuser = '<%= authuser %>';
      
            
      function refreshGoingData() {
        // refresh 'going' data.
        $.ajax({
          dataType: "json",
          url: "/getGoingData",
          success: dataReadyGoing
        });
      }
      
      function removeIllegalChars(str) {        
        return str.replace(/\W/g, '');
      }
      
      function removeNonNumeric(str) {
        return str.replace(/\D/g,'');
      }
      
      function going(title) {
        // now post to node server
        $.ajax({
          url: '/going', 
          type: 'POST', 
          contentType: 'application/json', 
          data: JSON.stringify({"title": title})
          //,
          //success: refreshPage() 
        })
        
        // refresh 'going' data after a sec.
        setTimeout(refreshGoingData, 1000);
      }
      
      function dataReadyGoing(data) {
        console.log("data = " + JSON.stringify(data)); 
        //start out by zeroing all button text.
        $(".going").text("0 GOING");
        
        var str = "";
        var len = data.length;
        for (var i=0; i<len; i++) {
          var title = removeIllegalChars(data[i].name);
          //console.log("title=" + title);
          var bVal = $("." + title).text();           
          //console.log("bval=" + bVal);
          var numstr = removeNonNumeric(bVal);
          var cnt = Number(numstr) + 1;
          //console.log("cnt=" + cnt);
          $("." + title).text(cnt + " GOING")
        }
      }
      
      function requestBook(id) {
        console.log("request ID=" + id);
        
        // now post to node server
        $.ajax({
          url: '/requestbook', 
          type: 'POST', 
          contentType: 'application/json', 
          data: JSON.stringify({"id": id})
          //,
          //success: refreshPage() 
        })
        
      }
    
      function gotoUserPics(username) {
        console.log("gotoUserPics " + username);
        // now post to node server
        $.ajax({
          url: '/gotouserpics', 
          type: 'POST', 
          contentType: 'application/json', 
          data: JSON.stringify({"username": username}),         
          success: dataReady
        })
        
      }
      
      function dataReady(data) {
        
        // this is the event data. display this first. 
        var str = "";
        var len = data.length;
        console.log("data = " + JSON.stringify(data));
      
        
        for (var i=0; i<len; i++) {          
          var picURL = data[i].picURL;
          str += '<div class="book" ><img src= "' + picURL + '"   onError="this.onerror=null;this.src=\'https://cdn.glitch.com/15e76e07-c3b7-4484-a822-205f499aec25%2Fbrokenimage.gif?1490310177335\';" height="180" width="125"></img>';
          //if (authuser !== "")
          //  str += '<div><button id="' + data[i].ID + '" onclick="requestBook(' + data[i].ID + ')" >Request Trade</button></div>';
          str += '<p>' + data[i].desc + '</p>';
          str += '<a href="#"><p class="' + data[i].owner + '"  onClick="gotoUserPics(\'' + data[i].owner + '\')" >' + data[i].owner + '</p></a>';
          str += '</div>';                  
        }
        //console.log("str = " + JSON.stringify(str));       
        $(".status").html(str);
     
      }
      
      $(document).ready(function() {       
        
        myHeader();     
        
        $.ajax({
            dataType: "json",
            url: "/getAllPics",
            success: dataReady
          });
        
        
        $("#submit").click(function() {
          var username = $("#username").val();        
          var password = $("#password").val();
          console.log("username = " + username);
          
          var searchcity = $("#stext").val();
          var url = "https://www.googleapis.com/books/v1/volumes?q=title:" + searchcity;
          
          //$.getJSON(url dataReady);
          
          $.ajax({
            dataType: "jsonp",
            url: url,
            success: dataReady
          });
          
          
        });
      });
      
    </script>
  </head>
  <body>
    <header class="myhdr">
    </header>
    <h1>
      Pics :
    </h1>
    <div class="status">      
    </div>
    <script src="/client.js"></script>    
  </body>
</html>