canvas {
  max-height: 800px;
  max-width: 800px
}

.book {
  border: 1px solid darkblue;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  float:left;
}

.fl {
  float:left;
}

.fclear {
  clear: left;
}

.status {
  display:block;
  float:left;
  clear: left;
}

.mybooks {
  display:block;
  float:left;
  clear: left;
}
